<p id="notice"><%= notice %></p>

<p>
  <strong>Token:</strong>
  <%= @bluetooth_adapter.token %>
</p>

<%= link_to 'Edit', edit_bluetooth_adapter_path(@bluetooth_adapter) %> |
<%= link_to 'Back', bluetooth_adapters_path %>
